@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
body{
    background-color: #e2e2e2;
}
.about{
    width: 1130px;
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-family:'Pangolin',sans-serif !important;
  }
  /*page contact*/
  .team{
    display: flex;
    align-items: center;
    width: auto;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.team .team-member{
background: #eeeeee;
margin: 5px;
margin-bottom: 50px;
width: 270px;
padding: 20px;
line-height: 20px;
color: black;
position: relative;
}
.team .team-member2{
    background: #eeeeee;
    margin: 5px;
    margin-bottom: 50px;
    width: 270px;
    padding: 20px;
    line-height: 20px;
    color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
.team-member:hover{
    background:#e2e2e2 ;
  }
.team-member:hover{
    transform:scale(1.1);
}

.team .team-member p{
    color: black;
    font-size: 20px;
    margin-top: 50px;
    z-index: 10;
}
.team .team-member p.role{
    color: black;
    font-size: 12px;
    text-transform: uppercase;
    margin: 12px 0;
}
.team .team-member .team_img{
width: 100px;
height: 100px;
border: solid 10px 	#eeeeee;
border-radius: 50% !important;
position: absolute;
top: -50px;
left: 50%;
transform: translateX(-50%);
background: white;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.team .team-member .team_img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 10px;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: auto;
    color: black;
    flex-wrap: wrap;
}
.img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    margin: 20px;
    display: flex;
    justify-content: left;
    align-items: left;
    gap: 1em;
}
.para{
    margin:10px;
}
.blog{
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    background:#fff ;
    border: 1px solid #e4e2e2 ;
    display: flex;
    flex-wrap: wrap;
}
.cards_blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1em;
    margin: 20px;
    flex-wrap: wrap;
}
.blog:hover{
transform:scale(1.1);
}
.blog{
    transition: transform 1.5s;
}

.button{
    display: flex;
    margin: 20px;
}
.button button{
   border: 1px solid #4b4276;
   background:#4b4276 ;
   color: black;
   height: 35px;
   width: 100px;
}
.button button:hover{
    border: 1px solid #594f8d;
    background:#594f8d ;
    color: black;
 }
 h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
    font-family: 'Allura', cursive;
    color:black;
 }
 p{
  color:black;
 }
.lili li p i{
    margin: 10px;
}
/* bouton de mon cv*/
.btns{
    border: solid 1px #eeeeee;
    border-radius: 10px;
    height: 50px;
    width: 120px;
    background: #eeeeee;
    color: black;
    font-family:'Pangolin',sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .btns:hover{
    background:#cfcece ;
  }
  /*ABOUT*/
  .about{
    width: 1130px;
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-family:'Pangolin',sans-serif !important;
  }
  /*SCRCOLLTOP*/
  #scroll_to_top {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 50px;
    right: 30px;
  }
  #scroll_to_top img {
    width: 25px;
  }
  /*RESTE*/
  .s{
    text-decoration : underline;
  }
.liens ul{
  gap: 3em;
  margin: 20px;
}
.liens{
  border: 2px solid white;
  border-radius: 5px;
}
.logo-Footer{
  height: 120px;
  width: 250px;
}
.about .carte{
  height: 285px;
  width: 285px;
}
/*warper*/
.warpper{
    display: flex;
    position: relative;
}
.warpper h1{
    color: black;
}
.warpper .sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background:#4b4276 ;
    padding: 30px 0;


}
.warpper .sidebar h2{
    color: black;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}
.warpper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    border-top: 1px solid rgba(225,225,225,0.5);
}
.warpper .sidebar ul li a{
    color: black;
    display: block;
}
.warpper .sidebar ul li i{
    margin: 15px;
}
.fa{
width: 25px;
}
.warpper .sidebar ul li:hover{
background: #594f8d;
}
.warpper .sidebar ul li:hover a{
    color: black;
}
.warpper .sidebar .social_media{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.warpper .sidebar .social_media a{
    display: block;
    width: 40px;
    background: #594f8d;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 5px;
    color: black;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.warpper .main_content{
    width: 100%;
    margin-left: 200px;

}
.warpper .main_content .header{
    padding: 20px;
    background: #fff;
    color: black;
    border-bottom: 1px solid #e0e4e8;
}
.warpper .main_content .info{
    margin: 10px;
    color: black;
    line-height: 25px;
}
.warpper .main_content .info div{
    margin-bottom: 20px;
}
.wrapper{
  display: flex;
  flex-direction: column;
    margin-top: 2%;
   flex-wrap: wrap;
}
.wrapper h1{
    font-family: 'Allura', cursive;
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
    color: black;
}
/*barre de progression*/

@keyframes progress {
    0% {
    stroke-dasharray: 0 100;
    } 
}
.circle-svg {
    display: block;
    margin: 10px auto;
    max-height: 100px;
}
.circle-svg text {
    text-align:center;
    color:#717171;
    font-size:10px
}
.circle-svg path.percent {
    stroke: #594f8d;
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 5s ease-out forwards;
}
.circle-svg path.around {
    stroke: rgb(160, 159, 159);
    fill: none;
    stroke-width: 2.8;
}
.lili li p i{
    margin: 10px;
}
.s{
    text-decoration : underline;
  }
.liens ul{
  gap: 3em;
  margin: 20px;
}
.liens{
  border: 2px solid white;
  border-radius: 5px;
}
.logo-Footer{
  height: 120px;
  width: 250px;
}
.about .carte{
  height: 285px;
  width: 285px;
}
.position{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-family:'Pangolin',sans-serif;
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    color: black;
}
h1 span{
    color: red;
      font-family:'Pangolin',sans-serif;
      display:flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      flex-wrap: wrap;
  }
  .img1 {
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.329));
    transform-origin: center;
    transform: perspective(800px) rotateY(20deg);
    max-width: 350px;
    transition: 0.3s ease-out;
}

.img1:hover {
    transform: perspective(800px) rotate(0);
}
.cont {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    -webkit-perspective: 800px;
    perspective: 800px;
  }
  .cont .card {
    position: relative;
    width: 240px;
    height: 300px;
    color: white;
    cursor: pointer;
    transition: 1s ease-in-out;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .cont .card:hover {
    -webkit-transform: rotateY(0.5turn);
            transform: rotateY(0.5turn);
  }
  .cont .card .item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    transition: 1s ease-in-out;
    -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
  }
  .cont .card .item img {
    width: 240px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .cont .card .back-side {
    -webkit-transform: rotateY(0.5turn);
            transform: rotateY(0.5turn);
  }
  /*prduits*/
  a{text-decoration:none;}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){
  .textOverImage{background-size:cover!important;}
}
.textOverImage{
    position:relative;
    width:300px;
    height:300px;
    float:left;
    margin:4px;
    background-size:100%;
    background-position:center;
    transition:0.5s;
    overflow:hidden;
    border-radius:4px;
    box-shadow:0 0 4px #000;
    display: flex;
    flex-wrap: wrap;
  }
  
  .textOverImage:hover{
    background-size:110%;
  }
  
.textOverImage:before{
  position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
  transform:translateY(90%);
    background-color:rgba(0,0,0,0.3);
    color:#fff;
    padding:0 8px;
    content:attr(data-title);
    transition:0.5s 0.1s;
    color:#fff;
    font-weight:bold;
    font-size:1.5em;
}

  .textOverImage:after{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    color:#fff;
    padding:8px;
    content:attr(data-text);
    transition:0.5s;
    padding-top:2em;
    margin-top:8px;
    transform:translateY(100%);
    opacity:0;
  }
  
  .textOverImage:hover:after{
    transform:translateY(0);
    transition:0.5s 0.1s;
    opacity:1;
  }
.textOverImage:hover:before{
    transform:translateY(0);
    padding:8px;
    background-color:rgba(0,0,0,0.6);
    transition:0.5s;
}
.boutons{
display: felx;
justify-content: center;
align-items: center;
text-align: center;
flex-direction: column;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
}
/*modale*/
.open-btn,
.close-btn {
  border: none;
  cursor: pointer;
}

.open-btn {
  background-color: hsl(0, 0%, 75%);
  padding: 16px 32px;
  border-radius: 8px;
  transition: 350ms ease;
  border-radius: 6px;
  height: 40px;
  width: 200px;
  font-size: 20px;
  font-family:'Pangolin',sans-serif !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.open-btn:hover {
  background-color: hsl(195, 53%, 69%);
}

.close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  opacity: .8;
  transition: 350ms ease;
}

.close-btn:hover {
  opacity: 1;
  scale: 1.125;
}

.modal {
  position: relative;
  height: 250px;
  width: 300px;
  margin: auto;
  padding: 1rem;
  text-align: center;
  background-color: rgb(78, 78, 78);
  color: #fff;
  border: none;
  border-radius: 8px;
}

.modal::backdrop {
  background-color: rgba(17, 17, 17, 0.4);
}

.modal p {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  color: #fff;
}

