:root{
    --colorTitreh1:black;
    --colorSousTitre:rgb(29, 29, 29);
    --colorParagraphe:rgb(39, 39, 39);
    --colorNav:rgb(10, 10, 10);
    --Colorfooter:rgb(255, 249, 249);
    --bacgroundColorNav:rgb(158, 158, 158);
}